<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
   
    <div id="app" class="container">
        <header>
            <h1>ToDoList</h1>
            <p>inserisci la lista delle tue attività, provalo è GRATIS!</p>
        </header>
        <div class="list">
            <input type="text" v-model="newTask" placeholder="Programmi della settimana" @keyup.enter="addTask">
            <button class="btn" @click="addTask">Aggiungi</button>
            <ul>
                <li v-for="(task, index) in toDoList">
                    <span @click="completedTask(index)" :class="{ done: task.done }">{{task.text}}</span>
                    <div>
                        <button @click="completedTask(index)">&checkmark;</button>
                        <button @click="removeTask">&cross;</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/main.js"></script>
</body>
</html>